{# app/Resources/views/Donors/create.html.twig #}

<!DOCTYPE html>
<html class="wvusUikit">
<head>
<title>Prototype Test App</title>

<!-- CSS -->
{% block stylesheets %}
     <link href="{{ asset('bundles/wvusprototype/uikit/css/wvus.uikit.min.css') }}" rel="stylesheet" />
{% endblock %}

<style>
.wvusUikit body {
	padding: 20px;
	background: #f0f0f0;
}

.wvusUikit .app {
	background: #fff;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(102,102,102,0.5);
	-moz-box-shadow: 0px 0px 10px 1px rgba(102,102,102,0.5);
	box-shadow: 0px 0px 10px 1px rgba(102,102,102,0.5);
}

.protofisch img {
	float: left;
	height: 75px;
	width: 75px;
	margin: 0 5px;
	display: block;
	padding: 3px;
	border: 2px solid #000;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background-color: orange;
}

.protofisch h1 {
	font-size: 42px;
	height: 75px;
	line-height: 75px;
}

</style>

<!-- Include jQuery from CDN -->
<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
</head>
<body>
{% if response is defined %}
{{ response }}
{{ json }}
{% endif %}
<div class="wrapper">
	<div class="row">
		<div class="app col-md-8  panel panel-default col-md-offset-2 col-xs-12">
			<div class="panel-body">
				<div class="protofisch">
					<img src="{{ asset('bundles/wvusprototype/images/fisch-icon.png') }}" height="75">
					<h1>Proto-Fisch</h1>
				</div>

				<p>Create Donor</p>
		
				<table class="table clear-fix table-responsive">
									
	 				<tbody id="donor_list">
	 					{{ form_widget(createform) }}		
					</tbody>				
				</table>
        
        {% if success is defined %}
				<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
					{{ success }}
				</div>								
        {% endif %}
			</div>			
		</div>
	</div>
</div>
<!-- Scripts -->
{% block javascripts %}
    <script src="{{ asset('bundles/wvusprototype/uikit/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/wvusprototype/uikit/js/wvus.uikit.min.js') }}"></script>
{% endblock %}
</body>
</html>